.widget-status {
	background: orange;
	font-size: 65px;
}
.taxis_booked {
	background: #9B111E;
}
.homevisits {
	background: #811453;
}
.total_leads {
	background: #035096;
}
.cc1 {
	background: #035096;
}
.cc2 {
	background: #9B111E;
}
.cc3 {
	background: #006A4E;
}
.letters_dispatched {
	background: #00693E;
}
.clinic_details {
	font-size: 36px;
}